<!-- public/views/authView.html -->


<toaster-container></toaster-container>
<div >
 <div class="two columns"></div>
    <div class="ten columns">   
        
        <form ng-submit="login()">            
                <input type="email" placeholder="Email" ng-model="email" required>
            
        
                <input type="password"  placeholder="Password" ng-model="password" required>
          
            <button class="button-primary" >Login</button>
        </form>
    </div>
</div>