alembic==0.8.3
autopep8==1.1.1
Flask==0.10.1
Flask-Migrate==1.4.0
Flask-RESTful==0.3.4
Flask-Script==2.0.5
Flask-SQLAlchemy==2.0
future==0.15.2
inflect==0.2.5
itsdangerous==0.24
Jinja2==2.7.3
lazy-object-proxy==1.2.1
Mako==1.0.3
MarkupSafe==0.23
marshmallow==2.3.0
marshmallow-jsonapi==0.3.0
pep8==1.6.2
psycopg2==2.6
pylint==1.5.1
PyMySQL==0.6.6
python-dateutil==2.4.2
PyYAML==3.11
six==1.10.0
SQLAlchemy==1.0.9
uWSGI==2.0.11.2
Werkzeug==0.11.2
wrapt==1.10.5
