


      
				 
      <div class="required" >
        <input class="form-field" placeholder="name" type="text" id="name" name="name"  ng-model="author.data.attributes.name"  required>
      </div>
          <div class="required">
          <textarea class="form-field" type="text" placeholder="profile" name="profile" ng-model="author.data.attributes.profile"  required> </textarea> </div>
          
      <div class="required" >
        <input class="form-field" placeholder="url" type="url" id="url" name="url"  ng-model="author.data.attributes.url"  required>
      </div>
                     
       

    <div class="form-button" > 
            <button  ng-disabled="loading" class="button-primary" type="submit" >                                        
                              
                              <span ng-hide="loading">Save</span>
                              <span ng-show="loading">Loading....</span></button> 
              
       </div> 
              

         
              
              
              

  

				
