

             
		   
               
            <div class="row"> 
                <div class="two columns">             
                   <label for="name">Name</label> 
                </div>
                <div class="ten columns">
                   <div class="required">
                    <input class="u-90-width" type="text" id="name" name="name"  ng-model="customer.data.attributes.name" required> 
                    </div>
                </div> 
             </div>                
            
            
            
          <div class="row"> 
              <div class="two columns">  
                 <label for="content">Address</label> 
               </div>  
               <div class="ten columns">
                   <div class="required">
                      <textarea type="text" class="u-90-width" name="address" rows="10" ng-model="customer.data.attributes.address"
           ng-init="customer.data.attributes.address" > 
                       </textarea>
                    </div>
               </div>
           </div>
     

            <div class="row"> 
              <div class="two columns">              
                <label>Is Active</label>
              </div>
              
                <div class="required">
                  <div class="five columns">                
                 <input type="radio" ng-model="customer.data.attributes.is_active" ng-value="true"   /><label>True</label> 
                  </div>
                  <div class="five columns"> 
                    <input type="radio" ng-model="customer.data.attributes.is_active" ng-value="false"/><label>False</label>
                  </div>
                </div>
               </div>
           
                
                 
       
            <div class="row"> 
              <div class="two columns"> 
                <label for="content">Mobile</label>
              </div>
              <div class="ten columns">
                  <div class="required">                
               <input class="u-90-width" type="number" id="mobile" name="mobile"  ng-model="customer.data.attributes.mobile"  required>  
            </div>
            </div>
            </div> 
            
            <div class="row"> 
                <div class="two columns">     
                  <label for="content">Email</label> 
                </div>
               <div class="ten columns">
                  <div class="required">                  
               <input class="u-90-width" type="email" id="email" name="email"  ng-model="customer.data.attributes.email"  required>  
            </div>
           </div>
          </div>
            
            <div class="row"> 
                <div class="two columns">             
                  <label for="content">Url</label> 
                </div>
               <div class="ten columns">
                  <div class="required">                  
               <input class="u-90-width" type="url" id="url" name="url"  ng-model="customer.data.attributes.url"  required>  
            </div>
           </div>
          </div>    
            <div class="row"> 
                <div class="two columns"> 
                  <label for="content">Timestamp</label>  
                </div>
               <div class="ten columns">
                  <div class="required">
               <input class="u-50-width" type="datetime" id="timestamp" name="timestamp"  ng-model="customer.data.attributes.timestamp"  required>  
            </div>
           </div>
          </div>   
            <div class="row"> 
                <div class="two columns"> 
           
               <label for="content">Date</label>
             </div>
               <div class="ten columns">
                  <div class="required">               
               <input class="u-50-width" type="date" id="date" name="date" formatdate ng-model="customer.data.attributes.date"  required>
               
               
               
            </div>
            </div>
            </div> 
            
            
            <div class="row"> 
                <div class="two columns">                
         
               <label for="content">Pricing</label> 
               </div>
               <div class="ten columns">
                  <div class="required">
               
               <input class="u-50-width" type="number" step="any" id="pricing" name="pricing" string-to-number  ng-model="customer.data.attributes.pricing"  required>  
            </div> 
             </div>
            </div>         
              
              <button class="button-primary" type="submit"> Save</button>
            
              
              
              

  

				
