      
      
                 
     <a ui-sref="newCustomer">New</a>
   
      <br>
   <input placeholder="Filter..." type="text" ng-model="gridOptions.quickFilterText"/>
     <br>
     <br>
     
     <span ng-repeat="selectedRow in gridOptions.selectedRows">
      <a ui-sref="editCustomer({id:selectedRow.id })"><button>Edit</button></a>
     
     
       <button ng-click="deleteCustomer(selectedRow.id)"> Delete </button>
     </span>
      { error} 

    <div ag-grid="gridOptions" class="ag-fresh"  style = "height: 700px"  ></div>



