.login-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: column;
           flex-flow: column;
    justify-content: center;
    align-items: center;
  
    
    }
    
.login-form {
    width: 30%; 
    margin: 20px;
    padding: 5% 2% 2% 6%;
    -webkit-box-shadow: 0px 1px 3px;
    box-shadow: 0px 1px 3px;
     

    
    }
.login-container button {
     
     margin-left: 42%;
     
    }
    
 .login-container   a {
     
     text-decoration: none;
     
   }

@media (max-width: 600px) {
  .login-form { 
    width: 70%; 
    margin: 50px;
    padding: 20px;
  }
}    
