textarea {
  
}


fieldset {
  height: 300px;
}

.required:after { 
 content:"*";
 font-family: "Open Sans";

}


.form{
	width: 600px;
    border: 1px solid #bbb;
        
}

.form-field-container{
	
    
    display: -webkit-flex;
    display: flex;
  
    width : 100%;
    padding-top : 10px;
    
   
    
    flex-flow: column;
    align-items: center;
   
   
    
}

.form-field{
	width: 275px;
    margin: 8px; 
        
}

.form-radio{
    width: 275px;
    display: flex;
    display: -webkit-flex;
	flex-flow: row; 
    justify-content: space-between;
   
 
    
    
        
}

.form-button{

    display: -webkit-flex;
     display: flex;  
   
    width: 440px;
    
    flex-flow: row;   
    justify-content: flex-end;
	-webkit-justify-content: flex-end;
   
    
}





/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-90-width {
  width: 90%;
  box-sizing: border-box; }

.u-50-width {
  width: 50%;
  box-sizing: border-box; }
  
.u-60-width {
  width: 60%;
  box-sizing: border-box; }
  
/* Utility Classes */

/* Make element full width */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }

/* Make sure elements don't run outside containers (great for images in columns) */
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

/* Float either direction */
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }
  
  
/* Admin Panel  https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
/* Styles go here 
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Using_CSS_flexible_boxes*/

/* http://www.materialpalette.com/indigo/cyan 
http://codepen.io/oknoblich/pen/klnjw*/

body {
  
   
  }

  #main {
   min-height: 800px;
   margin: 0px;
   padding: 0px;
   display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;
   
   }
 
  #main > article {
  
   
   }

aside {
  width: 17%;
  min-width: 150px;
  max-width: 300px;
  height: 100%;
  background-color: #171616;
  position: fixed;
  
  float: left;
  
  padding: 25px 0 0 0;
}
aside a {
  display: block;
  line-height: 40px;
  border-right: 4px solid transparent;
  cursor: pointer;
  
  
  color: #808080;
  padding: 0 0 0 30px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}
aside a:hover,
aside a.current { 
  background-color: #212a31;
  border-right-color: #2ecc71;
  
  color: #FFFFFF;
}
   
 
  header {
   display: flex;
   justify-content: flex-end;
   
   padding: 5px;
   min-height: 40px;
        
  
   background: #171616;
   }
   
   header > a {
   
   color: #000000;
   text-decoration: none;
   margin-right: 10px;
   }
 
  /* footer {
   display: block;
   
   padding: 5px;
   min-height: 10px;
  
  
   background: #00BCD4;
   } */
   
  /* Too narrow to support three columns */
 
 @media all and (max-width: 640px) {
  
   #main, #page {
    -webkit-flex-flow: column;
            flex-direction: column;
   }

   #main > article, #main > nav {
    /* Return them to document order */
    -webkit-order: 0;
            order: 0;
   }
  
   #main > nav, header, footer {
    min-height: 50px;
    max-height: 50px;
   }
  }



