<div [@routerTransition]>

        <a class="btn rounded-btn" [routerLink]="['/resource-add']"> Add Test </a>&nbsp;
    <app-page-header [heading]="'Tests'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                
                <div class="card-body table-responsive">
                    <table class="table table-hover" cellspacing="0">
                        <thead class="thead-inverse">
                        <tr>
                            <th>ID</th>
                            
                         <th>Adam</th>

                      </tr>


                        </thead>


                        
                            <tbody>
                              <tr *ngFor="let test of tests">
                                <td>{{ test.id
                                }}</td>

                                
                         <td>{{ test.attributes.Adam }}</td>

                                
                                <td><a [routerLink]= "['/tests',  test.id ]" class="btn btn-default btn-warning" 
                                    role="button"  id="editButton"><i class="fa fa-edit"></i></a></td>
                                <td> <button class="btn btn-default btn-danger" (click)="deleteTest(test.id)" 
                                id="deleteButton"><i class="fa fa-trash-o"></i></button> </td>  
                              </tr>
                            </tbody>
                         
                        
                    
                </table>

                &nbsp;
            
                <div class="alert alert-danger"   *ngIf="http_errors" role="alert">
                    <p [innerHTML]=" error_message " ></p>
    
                </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
