 <fieldset>
                  <div class="required">
                      <label for="url">Name</label>
                      <input class="u-90-width" type="text"  id="name" name="name" ng-model="user.data.attributes.name" required>  
                  </div>
                  
           <div class="required">
               <label for="content">Email</label>      
               <input class="u-90-width" type="email" id="email" name="email"  ng-model="user.data.attributes.email"  required>  
            </div>
              
            <div class="required">
                <label for="password">password</label>       
                <input class="u-90-width" type="password"  id="password" name="password"  ng-model="user.data.attributes.password" required> 
            </div>  
            <div class="required">              
                <label for="is_active" >Is Active</label>
                <input class="u-90-width" type="text"  id="is_active" name="is_active"  ng-model="user.data.attributes.is_active" ng-init="user.data.attributes.is_active='false'" required> 
             
            </div>
            <div class="required">
             <label for="role">Role</label>
             <select  class="u-90-width" ng-model="user.data.attributes.role">
                 <option ng-repeat="role in roles" value="{{role}}"> {{role}} </option>
             </select>
             
             
            </div>
                     
              
              <button class="button-primary" type="submit"> Save</button>
              </fieldset>
       